@page "/leaderboard"
@inject ILeaderboardService LeaderboardService
@inject AuthenticationStateProvider AuthState
@inject IBattleService BattleService
@inject IBananaService BananaService
@inject IToastService ToastService
@inject NavigationManager Navigation;

<h3>Leaderboard</h3>

@if(LeaderboardService.Leaderboard == null)
 {
        <span>Loading LeaderBoard..</span>
 }
 else
 {
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>User</th>
                <th>Battles</th>
                <th>Victories</th>
                <th>Defeats</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in LeaderboardService.Leaderboard)
            {
            <tr style="@GetMyStle(entry.UserId)">
                <td>@entry.Rank</td>
                <td>@entry.Username</td>
                <td>@entry.Battles</td>
                <td>@entry.Victories</td>
                <td>@entry.Defeats</td>
                @if (entry.UserId != myUserId)
                {
                    <td><button class="btn btn-primary" @onclick="@(() => StartBattle(entry.UserId))">Fight</button></td>
                }
            </tr>
            }
        </tbody>
    </table>
 }

@code {
    int myUserId;

    protected override async Task OnInitializedAsync()
    {
        await LeaderboardService.GetLeaderboard();
        var authState = await AuthState.GetAuthenticationStateAsync();
        myUserId = int.Parse(authState.User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value);
    }

    public string GetMyStle(int userId)
    {
        if(userId == myUserId)
        {
            return "background-color:green; font-weight: 600; color:#fff";
        }
        return string.Empty;
    }

    public async Task StartBattle(int opponentId)
    {
        Console.WriteLine($"Start battle with {opponentId}");
        var result = await BattleService.StartBattle(opponentId);
        if (result.RoundsFought <= 0)
            ToastService.ShowInfo("The battle did not take place");
        else if (result.IsVictory)
            ToastService.ShowSuccess("You are victorius");
        else
            ToastService.ShowWarning("You lost the battle");

        await LeaderboardService.GetLeaderboard();
        await BananaService.GetBananas();

        if (result.RoundsFought > 0)
            Navigation.NavigateTo("battlelog");

    }
}
